.Container {
  text-align: end;
  margin: 50px 50px 10px 0px;
//   background-color: aqua;
}
._Icon {
  font-size: 80px;
  color:black;
}
._Number {
  font-size: 30px;
  padding-top: 0;
  margin-top: 0;
  padding-right: 25px;
}
