.Container {
    text-align: end;
    margin: 50px 50px 10px 0px;
  }
  ._Icon {
    font-size: 60px;
    vertical-align:bottom;
    color:black;
  }
  ._Number {
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
    padding-right: 25px;
  }
  