._Container,._Headers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:70%;
    margin: auto;
    text-align: center;
}
._Headers>p{
    font-weight: bold;
}
h2{
    text-align: center;
    text-decoration: underline;
}